<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutriboost</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="top-right-buttons">
    <a th:href="@{/login}"><button>Login</button></a>
    <a th:href="@{/register}"><button>Register</button></a>

</div>
<img src="/images/leaf-logo.png" alt="Healthy Leaf Logo" class="logo-image">
<h1 class="h1-index">Nutriboost</h1>
<h2 class="h2-index">Your health store</h2>
<footer >
    Copyright &copy; 2025 Nutriboost
</footer>
</body>
</html>
