<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Вход</title>
  <link rel="stylesheet" href="/register_login.css"></head>
<body>
<form th:action="@{/users/login}" method="post">
  <div class="container">
    <h1>Sign in</h1>
    <div>
      <label>Username:</label>
      <input type="text" name="username" />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" />
    </div>
    <button type="submit">Sign in</button>
  </div>
</form>
</body>
</html>
