<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/register_login.css">
</head>
<body>
<div class="container">
    <h1>Register</h1>
    <form th:action="@{/register}" th:object="${RegisterRequest}" method="post">
        <div class="input-container">
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" id="username" />
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>

        <div class="input-container">
            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>

        <div class="input-container">
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>

        <button type="submit">Register</button>
    </form>
    <div class="footer">
        <p>Already have an account? <a href="/login">Sign in</a></p>
    </div>
</div>
</body>
</html>
